@import '../base/extends';
@import '../base/gradientes';
@import '../base/media-query';
@import '../base/mixins';

/* -------- index.html -------- */
.publicidad {
    padding: 0;

    video {
        height: var(--altura-visible);
        object-fit: fill;
        width: 100%;
    }
    .frase-publicitaria {
        color: var(--color-gris);
        font-size: 2.8rem;
        font-weight: bold;
        position: absolute;
            top: 30vh;
            left: 68vw;
        text-shadow: 2px 2px 4px var(--color-blanco);

        h2,
        p {
            margin: 0;
        }
    }
}

.menu-de-pizzas {
    background: map-get($gradientes, UIg-Zinc);

    .maestro-pizzero {
        background-image: url(../img/background/bg-maestro-pizzero.svg);
        background-position: -39% 75%;
        background-repeat: no-repeat;
        background-size: 50% 110%;
        position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
    }

    #carousel-productos {
        height: 400px;
    }
} 

.nuestra-calidad {
    padding: var(--padding-vertical) 0;

    article {
        filter: grayscale(1);
        padding: 0 var(--padding-horizontal);
        position: relative;
        transition: 1s;

        &:last-child {
            padding-top: var(--padding-vertical);
        }

        &:hover {
            filter: grayscale(0);
            transition: 1s;
        }
    }

    &::before  {
        @include background-full(url(../img/background/bg-nuestra-calidad.jpg), top);
        filter: grayscale(1);
    }
}

.nuestra-calidad figure {
    img {
        border-radius: var(--borde-general);
        height: 100%;
        width: 100%;
    }

    figcaption {
        width: 100%;

        p {
            line-height: 40px;
            word-spacing: 4px;
        }
    }
}

.opiniones {
    background-attachment: fixed;
    background-image: url(../img/background/bg-opiniones.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 440px;
}

.opiniones article {
    @extend %sombra-contenedor;
    background-color: #F8F9F1E6;
    border-radius: var(--borde-general);
    color: var(--color-gris);
    padding: 1rem;
    width: 50%;

    .opinion-estrellas {
        margin-bottom: 1rem;
    
        i {
            color: var(--color-queso);
        }
    }
    .opinion {
        font-style: italic;
        line-height: 1.5rem;
        text-align: justify;
        text-indent: 1rem;
        word-spacing: 0.1vw;
    
        p {
            font-size: 0.8rem;
    
            &:first-child {
                text-indent: 0;
            }

            &:first-child::before,
            &:last-child::after {
                content: '"';
                font-size: 2rem;
                font-family: var(--font-family-ipizza);
                margin: 0 0.5vw;
            }
        }
    }
    header {
        font-weight: bold;

        h4::before {
            content: 'Escrito por: ';
            font-weight: normal;
        }
    }
}

@include mediaq-breakpoint-max(md) {
    .menu-de-pizzas {    
        .maestro-pizzero {
            display: none;
        }
    }
}

@include mediaq-breakpoint-between(sm, lg) {
    .publicidad {
        height: calc(var(--altura-visible-mobile) * 0.75) !important; // Porque el height auto de .h-visible no calcula bien la altura

        video {
            height: calc(var(--altura-visible-mobile) * 0.75);
        }

        .frase-publicitaria {
            font-size: 2rem;
            position: absolute;
                top: 21vh;
                right: 1%;
            
            h2 {
                font-size: 1.2rem;
            }
        }
    }

    .menu-de-pizzas {
        padding: var(--padding-vertical) 0;
    }

    .nuestra-calidad article,
    .nuestra-calidad article:hover {
        filter: unset;
    }

    .opiniones {
        height: auto;
        padding: var(--padding-vertical) 0;
    }
}

@include mediaq-breakpoint {
    .publicidad {
        height: calc(var(--altura-visible-mobile) * 0.5) !important; // Porque el height auto de .h-visible no calcula bien la altura

        video {
            height: calc(var(--altura-visible-mobile) * 0.5);
        }

        .frase-publicitaria {
            font-size: 1.5rem;
            position: absolute;
                top: 15vh;
                right: 2%;
            
            h2 {
                font-size: 0.7rem;
            }
        }
    }
    
    .menu-de-pizzas {
        padding: var(--padding-vertical) 0;
    }

    .nuestra-calidad article,
    .nuestra-calidad article:hover {
        filter: unset;
    }

    .nuestra-calidad figure {
        figcaption {
            width: 100%;
            text-align: center;

            p {
                font-size: 0.8rem;
            }
        }
    }
    
    .opiniones {
        padding: var(--padding-vertical) 0;
    }

    .opiniones article {
        width: 75%;

        .opinion-estrellas {
            i {
                font-size: 1.5rem;
            }    
        }

        .opinion {
            text-align: center;
        }
        
        header {
            text-align: center;
        }
    }
}